body { padding-top: 70px; }

$navbg-color : #E6E6E6;
$banner__bigtext-color : #F3F3F3;
$banner__smalltext-color : #A8A8A8;
$banner-btn-color:#fff;
$banner-btn-bg-color:#3F8DBF;

@mixin banner-text($color:$banner__bigtext-color,$font-size:40px,$font-family:verdana){
	color: $color;
	font-size:$font-size;
	font-family: $font-family;
}

.wrapper{
	.navbar--theme {
		background: $navbg-color;
		padding: 20px;
}
	.banner-area{
			background-image:url(../img/home-banner.png);
			background-size:cover;
			background-position:center center;
			min-height:400px;
			
			.banner--content{
				padding-top:10%;
				text-align:center;
				
				.banner__bigtext{
					@include banner-text($banner__bigtext-color,40px,verdana);
				}
				.banner__smalltext{
					@include banner-text($banner__smalltext-color,32px,verdana);
					font-weight:700;
				}
				.btn--demo{
					background:$banner-btn-bg-color;
					padding:10px;
					border-radius:2px;
					margin-top:40px;
					color:$banner-btn-color;
					
					&:hover{
						background:darken($banner-btn-bg-color,15%);
					}
				}
			}
	}
}